/* line 1, global.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 5, global.scss */
.clear-both {
  clear: both;
}

/* line 8, global.scss */
.center {
  text-align: center;
}

/* line 12, global.scss */
html, body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #EEE;
  font-size: 16px;
}
