@import "compass/css3/border-radius";

#header,
.header
{
  background: #999;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 40px;
  height: 40px;
  padding: 0 50px;
}
#header a, .header a
{
  background: center center no-repeat transparent;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNpi/P//PwOtARMDHQBdLGFBYt+nkR2KjEhxQqvIYaR7cD2glSWMo0mY3DiJo5Edi4ZPEqZ7nMSP5pPRon60qB9NwpQDgAADAMIxHUJvWs/TAAAAAElFTkSuQmCC);

  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 10px;
}

#content {
  margin: 10px;
}

#waterfallContainer .item {
  text-align: center;
  margin: 5px;
  background-color: white;
}
.item .title	{
  margin: 6px;
}

