<div id="header">
    <a href="#menu"></a>
    Demo App
</div>

<nav id="menu">
    <ul>
        <li class="Selected"><a href="index.html">Basic example</a></li>
        <li><a href="horizontal-submenus.html">Horizontal sliding submenus example</a></li>
        <li><a href="vertical-submenus.html">Vertical submenus example</a></li>
        <li><a href="positions.html">Positioning the menu</a></li>
        <li><a href="advanced.html">Advanced example</a></li>
        <li><a href="onepage.html">One page scrolling example</a></li>
        <li><a href="iconbar.html">Iconbar</a></li>
        <li><a href="dragopen.html">Drag/swipe the menu open</a></li>
    </ul>
</nav>
<div id="content">
    <div class="container-fluid">
        {{outlet}}
    </div>
</div>
