<div>
    <div id="left-col">
        <div ng-include src="'views/preview.html'"></div>
    </div>
    <div class="clear_both"></div>
    <div id="right-col">
        <div id="main">
            <ul id="tab-bar" class="nav nav-tabs">
                <li>
                    <a href="#">Configuration</a>
                </li>
                <li class="active">
                    <a href="#">Add Contents</a>
                </li>
            </ul>
            <div id="tab-panel">
                <div id="cms-header">
                    <div id="cms-header-menu" ng-controller="CmsMenuCtrl">
                        <carousel>
                            <slide ng-repeat="page in slides" active="slide.active">
                                <div ng-repeat="item in page" class="carousel-item"
                                     ng-class="{disabled: !item.enabled}"
                                     ng-mouseover="mouseOver(item)" >
                                    <div class="carousel-item-container" >
                                        <div><img ng-src="img/icons-plugin-white/store.png" height=30 width=30></div>
                                        <div>标题</div>
                                    </div>
                                    <div class="carousel-item-move" ng-show="item.showMove"></div>
                                </div>
                            </slide>
                        </carousel>
                    </div>
                </div>

                <div id="cms-content">

                </div>
            </div>
        </div>
    </div>
</div>

