<div>
    <div id="left-col">
        <div ng-include src="'views/preview.html'"></div>
    </div>
    <div class="clear_both"></div>
    <div id="right-col">
        <div id="main">
            <ul id="tab-bar" class="nav nav-tabs">
                <li>
                    <a href="#">Configuration</a>
                </li>
                <li class="active">
                    <a href="#">Add Contents</a>
                </li>
            </ul>
            <div id="tab-panel">
                <div id="cms-header">
                    <div ng-controller="CarouselDemoCtrl">
                        <carousel>
                            <slide ng-repeat="page in slides" active="slide.active">
                                <span ng-repeat="i in [0, 1, 2, 3, 4]">
                                    <img ng-src="{{page[i].image}}" style="margin:auto; height: 50px; width:50px;">
                                </span>
                            </slide>
                        </carousel>
                    </div>
                </div>

                <div id="cms-content">

                </div>
            </div>
        </div>
    </div>
</div>

