<div id="header" class="navbar navbar-fixed-top" ng-controller="HeaderCtrl">
    <div class="navbar-inner ap-navbar-bg">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="span2">
                         <div class="brand">
                              <div style="float: left;"><img src="images/logo.png"></div>
                              <div class="beta" style="float: left;">Beta</div>
                         </div>
                    </div>
                    <div class="span14 top-bar">
                        <div class="top-panel pull-right">

                                        <span class="icon-home"></span>


                                      <span class="icon-signout"></span>

                        </div>
                        <div class="top-panel pull-right">
                                <span id="">&nbsp;</span>
                                <a href="#">
                                    <span id="userEmail">{{email}}</span>
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="height:30px;"></div>
