<div>
    <div ng-click="createCategory()" class="action">Create</div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="header">
                <th>ID</th>
                <th>Name</th>
                <th>Picture</th>
                <th>Action</th>
            </tr>
        <thead>
        <tbody>
            <tr ng-repeat="cate in categories">
                <td>{{cate.id}}</td>
                <td>{{cate.name}}</td>
                <td><img ng-src="{{cate.picture | imgPath}}" class="img-rounded thumb" ></td>
                <td>
                    <span class="action">View</span> &nbsp;&nbsp;
                    <span class="action" ng-click="editCategory(cate)">Edit</span> &nbsp;&nbsp;
                    <span class="action" ng-click="deleteCategory(cate)">Delete</span> &nbsp;&nbsp;
                </td>
            </tr>
        </tbody>
    </table>
</div>