<div id="cms-store" ng-controller="CmsStoreCtrl">
    <a href="#">Create</a>
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="header">
                <th>ID</th>
                <th>Name</th>
                <th>Picture</th>
                <th>Action</th>
            </tr>
        <thead>
        <tbody>
            <tr ng-repeat="cate in categories">
                <td>{{cate.id}}</td>
                <td>{{cate.name}}</td>
                <td><img ng-src="{{cate.picture}}" class="img-rounded thumb" ></td>
                <td>
                    <a href="#">View</a> &nbsp;&nbsp;
                    <a href="#">Edit</a> &nbsp;&nbsp;
                    <a href="#">Delete</a> &nbsp;&nbsp;
                </td>
            </tr>
        </tbody>
    </table>
</div>