@import "compass/css3/border-radius";

@import "compass/utilities/sprites";
@import "icons-plugin-black/*.png";
@import "icons-plugin-white/*.png";
@include all-icons-plugin-black-sprites;
@include all-icons-plugin-white-sprites;

#header.navbar {
  margin-bottom: 0px;
}


.ap-navbar-bg.navbar-inner {
  background-color: #E86224;
  background-image: image-url("img-1x1.png");
  height: 40px;
  margin-bottom: 0;

  a, a:hover {
    color: white;
    text-decoration: none;
  }

  .back {
    img {
      float: right;
      margin: 10px 10px 0 0;
      width: 20px;
      height: 20px;
    }
  }
  .container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    .row {
      min-width: 720px;
      .col-md-2 {
        float: left;
        margin-left: 20px;

        margin: -2px 0 0;
        .brand {
          display: block;
          height: 40px; line-height: 38px;
          width: 200px;
          img {
            height: 28px;
          }
          .beta {
            padding-left: 3px;
            margin-top: -3px;
            font-size: 10px;
            font-weight: normal;
            color: white;
          }
        }
      }
      .col-md-14.top-bar {
        width: 80%;
        float: right;
        margin-left: 20px;

        .top-panel.pull-right {
          margin-left: 20px;
          font-size: 14px;
          .avatar {
            width: 20px;
            height: 20px;
            margin-top: -3px;
          }
          span {
            height: 40px; line-height: 38px;
            width: 20px;
            cursor: pointer;
            font-style: normal;
          }
          #userEmail {
            color: white;
          }
        }

      }
    }
  }
}

#footer {
  margin-top: 15px;
}

form.w-600 {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#left-col {
  float: left;
  margin: 0;
  min-width: 320px;
  max-width: 320px;
  height: 490px;
}

#right-col {
  margin-left: 340px;
  #cms-main {
    #tab-bar {
      margin-bottom: 0;
      height: 37px;
    }
    #tab-panel {
      padding: 20px;
      border: 1px solid #ddd;
      border-top: 0;
      @include border-radius(0 0 6px 6px);
    }
  }
}

#cms-header {
  height: 60px;
}
.jcarousel-skin {
  float: left;
  .jcarousel-container {
    width: 435px;
    padding: 0px 12px;
    background: transparent image-url("prev-horizontal.png") no-repeat 0 0;
    .jcarousel-clip {
      overflow: hidden;
      height: 58px;
      width: 410px;

      .jcarousel-item {
        float: left;
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        background-color: #666;
        width: 82px;
        height: 62px;
        cursor:pointer;

        &.active {
          background-color: #333;
        }
        &.forbidden {
          background: image-url("menu-bg-forbidden.png") right top no-repeat;
          background-color: #666;
        }
        &:hover, &:focus {
          border-color: #808080;
        }
        .jcarousel-item-container {
          -webkit-border-image: image-url("border-bg.png") 2 stretch stretch;
          -moz-border-image: image-url("border-bg.png") 2 stretch stretch;
          border-image: image-url("border-bg.png") 2 stretch stretch;
          -ms-border-image: image-url("border-bg.png") 2 stretch stretch;
          border-width: 2px;

          width: 80px;
          height: 58px;
          padding: 2px 0;

          font-weight: bold;
          color: white;
        }
        .jcarousel-item-move {
          display: none;
          width: 20px;
          height: 20px;
          position: absolute;
          margin-left: 5px;
          top: 3px;
          z-index: 1;
          background-image: image-url("move.png");
          background-repeat: no-repeat no-repeat;
        }
      }
    }
    .jcarousel-prev-horizontal {
      position: absolute;
      top: 0;
      left: 0;
      width: 14px;
      height: 58px;
      cursor: pointer;
      background: transparent image-url("prev-horizontal.png") no-repeat 0 0;
      overflow: hidden;

      &:hover, &:focus {
        background-position: -32px 0;
      }
      &:active {
        background-position: -64px 0;
      }
    }
    .jcarousel-prev-disabled-horizontal,
    .jcarousel-prev-disabled-horizontal:hover,
    .jcarousel-prev-disabled-horizontal:focus,
    .jcarousel-prev-disabled-horizontal:active {
      cursor: default;
      background-position: -96px 0;
    }

    .jcarousel-next-horizontal {
      position: absolute;
      top: 0;
      right: 0;
      width: 14px;
      height: 58px;
      cursor: pointer;
      background: transparent image-url("next-horizontal.png") no-repeat 0 0;

      &:hover, &:focus {
        background-position: -32px 0;
      }
      &:active {
        background-position: -64px 0;
      }
    }
    .jcarousel-next-disabled-horizontal,
    .jcarousel-next-disabled-horizontal:hover,
    .jcarousel-next-disabled-horizontal:focus,
    .jcarousel-next-disabled-horizontal:active {
      cursor: default;
      background-position: -96px 0;
    }
  }
}

#cms-content {
  padding: 15px 0;
}





