<!-- <div class="right">
    {{#linkTo "apps"}}Back{{/linkTo}}
</div> -->

<form action="#">
    <div id="content">
        <div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
                {{view Ember.TextField id="name" valueBinding="app.content.name"}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="headline">Description</label>
            <div class="controls">
                {{view Ember.TextArea id="descr" valueBinding="app.content.descr"}}
            </div>
        </div>
    </div>
    <div id="toolbar">
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary" {{action saveApp app.content}}>Save</button>&nbsp;&nbsp;
                <button type="reset" class="btn">Reset</button>
            </div>
        </div>
    </div>
</form>


