<div ng-include src="'views/header.html'"></div>

<div class="content">
    <div id="left-col">
        <div ng-include src="'views/preview.html'"></div>
    </div>
    <div id="right-col">
        <div id="cms-main"  ng-controller="CmsCtrl">
            <ul id="tab-bar" class="nav nav-tabs">
                <li>
                    <a href="#">Configuration</a>
                </li>
                <li class="active">
                    <a href="#">Add Contents</a>
                </li>
            </ul>
            <div id="tab-panel">
                <div id="cms-header">
                    <div id="cms-menu" cms-module-menu class="jcarousel-skin" >
                        <ul></ul>
                    </div>
                    <div id="cms-nav" class="">

                    </div>
                </div>

                <div id="cms-content" ng-include="content">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear-both"></div>
<div ng-include src="'views/footer.html'"></div>

