<div class="right">
    {{#linkTo "apps"}}Back{{/linkTo}}
</div>

<div class="row-fluid">
	<div class="span12">
		<div class="row-fluid">
			<div class="span4 left_col">
				{{view Admin.AppPreviewView}}
				<div class="clear_both"></div>
			</div>
			<div class="span8 right_col">
				<div id="main">
                     <button type="submit" class="btn btn-primary" {{action save}}>Save</button>&nbsp;&nbsp;
					<div class="clear_both"></div>
				</div>
				<div class="clear_both"></div>
			</div>
		</div>
	</div>
</div>

