<form id="categoryEditForm" action="#">
    <div id="content">
        <div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
                {{view Ember.TextField name="name" valueBinding="name" classNames="required"}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="flatRate">Images</label>
            <div class="controls">
                <span class="btn fileinput-button">
                    <i class="icon-upload"></i>
                    <span>Upload...</span>
                    <input id="fileupload" type="file" name="files[]" accept="image/*">
                </span>
                <div class="fileinput-preview">
                      <div class="picture-container">
                        <img src="/{{picture}}" class="img-rounded thumb">
                        <span class="remove"></span>
                       </div>
                      <div class="clear-both"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="toolbar">
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary" {{action saveCategory .}}>Save</button>&nbsp;&nbsp;
                <button type="reset" class="btn">Reset</button>
            </div>
        </div>
    </div>
</form>