<div class="navbar navbar-fixed-top">
    <div class="navbar-inner ap-navbar-bg">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="span2">
                         <div class="brand">
                              <div style="float: left;"><img src="images/logo.png"></div>
                              <div class="beta" style="float: left;">Beta</div>
                         </div>
                    </div>
                    <div class="span14 top-bar">
                        <div class="top-panel pull-right">
                                  {{#linkTo "apps"}}
                                        <span class="icon-reply"></span>
                                  {{/linkTo}}
                                  {{#linkTo "user.signout"}}
                                      <span class="icon-signout"></span>
                                  {{/linkTo}}
                        </div>
                        <div class="top-panel pull-right">
                                <span id="userEmail">&nbsp;</span>
                                <a href="#">
                                    <span id="userEmail">aaronchen2k@gmail.com</span>
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="height:30px;"></div>
