<header >
	<div class="back">
		{{#linkTo "index" }}<img src="img/back.png">{{/linkTo}}
	</div>
	<div class="container">
		<div class="row">
			<div class="span2">
				<h1>
					<div class="brand">
						<div style="float: left;"><img src="img/logo.png"></div>
						<div class="beta" style="float: left;">Beta</div>						
					</div>
				</h1>
			</div>
			<div class="span14 top-bar">
				<div class="pull-right top-panel">
					<span id="userEmail">&nbsp;</span>
					<!-- 
						<a href="#">
							<span id="userEmail">&nbsp;</span>
						</a>
						<a href="#"> 
							<span class="icon-envelope"></span>
						</a>
					--> 
					{{#linkTo "index"}}
						<span class="icon-signout"></span>
					{{/linkTo}}
				</div>
				<ul class="top-nav">

				</ul>
			</div>
		</div>
	</div>

</header>