<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="brand">
                Your App
            </div>
        </div>
    </div>
</div>