<div class="navbar navbar-fixed-top">
    <div class="navbar-inner ap-navbar-bg">
        <div class="container-fluid">
            <div class="back">
                {{#linkTo "index" }}<img src="images/back.png" >{{/linkTo}}
            </div>
            <div class="container">
                <div class="row">
                    <div class="span2">

                            <div class="brand">
                                <div style="float: left;"><img src="images/logo.png"></div>
                                <div class="beta" style="float: left;">Beta</div>
                            </div>

                    </div>
                    <div class="span14 top-bar">
                        <div class="pull-right top-panel">
                            <span id="userEmail">&nbsp;</span>
                            <!--
                                <a href="#">
                                    <span id="userEmail">&nbsp;</span>
                                </a>
                                <a href="#">
                                    <span class="icon-envelope"></span>
                                </a>
                            -->
                            {{#linkTo "user.signout"}}
                                <span class="icon-signout"></span>
                            {{/linkTo}}
                        </div>
                        <ul class="top-nav">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>