<div class="row-fluid">
      <div class="left_col">
          {{view Admin.CmsPreviewView}}
          <div class="clear_both"></div>
      </div>
      <div class="right_col">
          <div id="main">
            <ul id="tab-bar" class="nav nav-tabs">
              <li>
                <a href="#">Configuration</a>
              </li>
              <li class="active">
                <a href="#">Add Contents</a>
              </li>
            </ul>
            <div id="tab-panel">
                <div id="sub-menu" class="jcarousel-skin">
                    <ul>
                    </ul>
                </div>
                <div id="sub-content">
                     {{view Em.ContainerView elementId="sub_content_view"}}
                </div>
            </div>

              <div class="clear_both"></div>
          </div>
          <div class="clear_both"></div>
      </div>
 </div>

