<div class="row-fluid">
      <div class="span4 left_col">
          {{view Admin.CmsPreviewView}}
          <div class="clear_both"></div>
      </div>
      <div class="span8 right_col">
          <div id="main">
            <ul id="tab-bar" class="nav nav-tabs">
              <li>
                <a href="#">Configuration</a>
              </li>
              <li class="active">
                <a href="#">Add Contents</a>
              </li>
            </ul>
            <div id="tab-panel">
                <div id="module-menu" style="width: 245px;" class="jcarousel-skin-ie7">
                    <ul>
                    </ul>
                </div>
            </div>
              <div class="clear_both"></div>
          </div>
          <div class="clear_both"></div>
      </div>
 </div>
