<div class="right">
    {{#linkTo "apps"}}Back{{/linkTo}}
</div>

<div class="row-fluid">
      <div class="span4 left_col">
          {{view Admin.CmsPreviewView}}
          <div class="clear_both"></div>
      </div>
      <div class="span8 right_col">
          <div id="main">
              _cms_
              <div class="clear_both"></div>
          </div>
          <div class="clear_both"></div>
      </div>
 </div>
