<div ng-include src="'views/header.html'"></div>

<div class="content">
    <div id="app_list" ng-controller="AppListCtrl" class="">
        <div class="">
            <a href="#/app/edit/null">Create<a/>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr class="header">
                <th>ID</td>
                <th>Name</td>
                <th>Description</td>
                <th>Action</td>
            </tr>
            <thead>
            <tbody>
                <tr ng-repeat="app in apps">
                    <td>{{app.id}}</td>
                    <td>{{app.name}}</td>
                    <td>{{app.descr}}</td>
                    <td>
                        <a href="#">Add Contents</a> &nbsp;&nbsp;
                        <a href="#/app/edit/{{app.id}}">Edit</a> &nbsp;&nbsp;
                        <a href="#" ng-click="delete(app)">Delete</a> &nbsp;&nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div ng-include src="'views/footer.html'"></div>